* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.title {
    background-color: #4ea0ff;
    background-image: url('../img/pattern.png');
    background-size: 450px;
}

.logo {
    width: 220px;
    margin: 45px 10px 8px;
}