* {
    margin: 0px;
    padding: 0;
    box-sizing: border-box;
}

.title {
    background-color: #4ea0ff;
    background-image: url('../img/pattern.png');
    background-size: 450px;
}
.logo {
    width: 220px;
    margin: 45px 10px 8px;
}
main{
    margin: 0px 0px 0px 10px;
}
.titolo{
    font-size: 70px;
    margin-top: 10px;
}
.autore{
    color: grey;
    font-size: 25px;
}
.cont-data{
    color: grey;
    font-size: 20px;
}
.link-aut{
    color: #58a6ff;
    font-weight: bold;
    text-decoration: none;
}
